html,body{
    height: 100vh;
    width: 100%;
}
*{
    font-family: roboto;
}

.button-1{
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    height: 25px;
    width: 100px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.button-2{
    border: 2px solid white;
    background-color: #3882F6;
    width: 125px;
    height: 25px;
    border-radius: 8px;
    text-align: center;
    color: white;
    padding: 5px

}



.call2action{
    background-color: #3882F6;
    height: 150px;
    width: 850px;
    border-radius: 10px;

}

.container1{
    background-color: #1f2937;
    height: 530px;
    width: auto;
}
.container2{
    /* background-color: #1f2937; */
    height: 480px;
    display: flex;
    align-items: center;
}

.container3{
    background-color: #e5e7eb;
    height: 440px;
    
}

.container4{
    /* background-color: #3882f6; */
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header{
    display: flex;
    /* justify-content: flex-end; */


}

footer{
    background-color: #1f2937;
    height: 10s0px;
    text-align: center;

}

.footerp{
    padding: 3em;
    color: white;
}

.header-logo{
    color: #f9faf8;
    font-size: 36px;
    /* font-weigt: bold; */
    margin-right: auto;
}

 .headerlinks-1 .headerlinks-2 .headerlinks-3 {
    color: #e5e7eb;
    font-size: 18px;
    color: white;
}

a{
    color: #e5e7eb;

}

a:hover{
    color:salmon;
}

.hlinks{
    display: flex;
}